/* Tailwind CSS Directives */
@import "tailwindcss";

@layer base {
  :root {
    --background: var(--background1);
    --background1: #1E1E1E;
    --background2: #2E2E2E;
    --background3: #383838;
    --background4: #373737;
    --background5: #444444;
    --foreground: #F5F5F5;
    --text1: #F5F5F5;
    --text2: #BDBDBD;
    --text3: #A3A3A3;
    --border: rgba(255, 255, 255, 0.13);
    --greenText: #63D489;
    --redText: #FF8A8A;
    --yellowText: #F3C831;
    --blueText: #8AC2FF;
  }

  * {
    border: var(--border);
  }
}

/* Custom CSS */
body {
  margin: 0;
  background: #333;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--foreground);
}

/* form {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
} */

button {
  color: #fff;
  background: #0073e6;
  padding: 4px 8px;
  border: 2px solid #0073e6;
  border-radius: 4px;
}

button:focus {
  outline: none;
  border-color: #1280ee;
}
