name = "seo-copilot-api"
main = "./workers/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[vars]
USE_GPT_RECOMMENDATIONS = "true"
ALLOWED_ORIGINS = "https://webflow.com,https://*.webflow-ext.com,https://*.webflow.io,http://localhost:1337,http://localhost:5173,http://127.0.0.1:5173,http://127.0.0.1:1337"